{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container text-center pt-4">
        <h3>Главная страница</h3>
    </div>
{% endblock %}
